*{
    margin: 0;
}
html, body {
    margin: 0; height: 100%; overflow-x: hidden
    
}
#canvas{
    image-rendering: -webkit-optimize-contrast; /* webkit */
    image-rendering: -moz-crisp-edges; /* Firefox */
    touch-action: none;
}
